.sidebar_facebook {
  background-color: #899dcf;
  height: 2rem;
  margin-top: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: serif; }
  .sidebar_facebook:hover {
    background-color: #38508d;
    text-decoration: none !important; }

.sidebar_twitter {
  background-color: #60d2f6;
  height: 2rem;
  margin-top: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: serif; }
  .sidebar_twitter:hover {
    background-color: #387c91;
    text-decoration: none !important; }

.sidebar_instagram {
  background-color: #709cbf;
  height: 2rem;
  margin-top: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: serif; }
  .sidebar_instagram:hover {
    background-color: #415a6e;
    text-decoration: none !important; }

.img_pub {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top: 7px; }

.text_follow_pub {
  color: white;
  margin-left: 0.5rem; }

.like_sidebar1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: white;
  margin-left: 7rem; }

.like_sidebar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: white;
  margin-left: 4.5rem; }

.like_sidebar3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: white;
  margin-left: 4rem; }

.lien_sidebar:hover {
  text-decoration: none; }
