
body {
    background-color:  white;
    color: black;
}
.titre_header{
font-size: 6rem;
display: flex;
justify-content: center;
font-family: 'Crimson Text', serif;
}
.nav-link{
    color: black!important;
    font-family: 'Open Sans', sans-serif;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
}
.navbar{
    border-bottom: rgb(160, 160, 160) 1px solid;
}
.icon_container{
   
    max-width: 95%;
    
}
.img_icon_header{
    margin: 0;
    padding:0;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    
}
.img_icon_header_container{

    margin: 0;
    padding:0;


}